// Fonsts
$font-main: 'Montserrat', sans-serif;

// Size
$size-title: 36px;

// Colors
$dark: #323232;
$accent: #4985ff;
$white: #ffffff;
$grey: #999999;
$black: #000;
$footer-bg: #dbdbdb94;
// $footer-bg: #e0e0e067;
$all-services-bg: linear-gradient(
	90deg,
	#504dc2 20.44%,
	#5f12d0 80.91%,
	#c4c4c4
);

// Media
$tablet: 1000px;
$tablet-mobile: 730px;

// Menu Burger
$menu-bg: #e84e36;
